html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* fill the entire viewport height */
}

.app-content {
  flex: 1; /* takes remaining space, pushes footer to bottom */
}
